# ide
.idea

# dependencies
3rdparty/*

# cmake
cmake/*
cmake-build-*
CMakeFiles
CMakeCache.txt

# macos
.DS_Store

# auto generated code
*_gen.h
*_generated.*
message/generated/*

# local files
config/*
!config/*.default
