body, html {
    font-family: 'Fira Sans','Helvetica','Arial',sans-serif;
}

.bpt-index-about {
    padding-top: 50px;
}

.bpt-start-using {
    max-width: 640px;
    margin: 0 auto;
    display: block;
    align-items: center;
}

.page-content {
    padding: 20px;
}

.logo:link, .logo:visited, .logo:hover {
    color: #ffffff;
    text-decoration: none;
}

.invoice-body {
    margin: 15px 0;
}

.invoice-card-wide {
    width: 100%;
}

.invoice-title {
    margin: 10px 0 0 0;
}

.invoice-supporting-text {
    width: 100%;
}
